<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单渲染</title>
    <link rel="stylesheet" type="text/css" href="new.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    
    <el-button type="danger" @click="add">新增</el-button>
    <table>
        <tr v-for="(book,index) in bookList">
            <td >
               <el-button type="text" @click="btn1(book)">{{book.id}}</el-button>
                <el-dialog
                        title="修改信息"
                        :visible.sync="dialogVisible"
                         width="30%"
                        :before-close="handleClose">
                    <div>
                        <input type="text" name=""  v-model="book.id" @blur="btn2(book)">
                    </div>
                    <span slot="footer" class="dialog-footer">
                         <el-button @click="dialogVisible = false">取 消</el-button>
                         <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
                    </span>
                </el-dialog>

            </td>
            <td class="name">

            <el-button type="text" @click="btn1(book)">{{book.name}}</el-button>
                <el-dialog
                        title="修改信息"
                        :visible.sync="dialogVisible"
                        width="30%"
                        :before-close="handleClose">
                    <div>
                        <input type="text" name=""  v-model="book.name" @blur="btn2(book)">
                    </div>
                    <span slot="footer" class="dialog-footer">
                         <el-button @click="dialogVisible = false">取 消</el-button>
                         <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
                    </span>
                </el-dialog>

            </td>
<!--            <td>-->
<!--                <el-button type="primary" @click="btn(book,index)" size="small">主要按钮</el-button>-->
<!--                <el-button @click="btn1(book)" size="small">编辑</el-button>-->
<!--                <el-button @click="handleClose(book)" size="small">测试</el-button>-->
<!--            </td>-->
        </tr>
    </table>
</div>

 <script src="vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="vue-router.js"></script>
<script src="jquery-3.5.0.min.js"></script>
 <script src="test.js"></script>
</body>
</html>